body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}
.main-top-left{
    padding:15vh 0vw;
    
}
.main-top-left h1,
.main-bottom-heading h2{
    font-size: 3.5vw;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: left;

}

.main-top-left p{
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-align: left;
    padding-top: 2vh;

}
.main-top-right{
    margin-top: 10vh;
    text-align: center;
}
.main-top-card{
    text-align: center;
}
.main-top-card{
    border: 1px solid;
    border-radius: 10px;
    padding:2vh 4vw;
    width: 70%;
    margin: 5vh auto;
    text-align: center;

}
.main-top-card a img{
   width:40px;
   height: 40px;
}
.main-top-card a p{
   margin-top: 1vh;
    font-size: 1.45vw;
    font-weight: 700;
    line-height: 29.7px;
    letter-spacing: 0.05em;

}
.main-bottom img{
    padding: 0;
    margin: 0;

}

.main-bottom-heading h2{
    margin:8vh 6vw;
}
.footer-top{
    border: none;
}


/* media query for medium devices with max width 768px */
@media (max-width:768px) {
    .main-top{
        margin-top: 10vh;
    }
    .main-top-left{
        padding:0 8vw;
        margin-bottom: 0;
    }
    
    .main-top-left h1,
    .main-bottom-heading h2{
        font-size: 6vw;
    }
    
    .main-top-left p{
        font-size: 3vw;
    }

    .main-top-card a p{
         font-size: 2vw;
     }
    
}
/* media query for medium devices with max width 768px */









/* media query for small devices with max width 480px */
@media (max-width:480px) {

    .main-top-left h1,
    .main-bottom-heading{
        font-size: 8vw;
    }
    
    .main-top-left p{
        font-size: 4.5vw;
    }
    .main-top-card a p{
        font-size: 3vw;
    }
}
/* media query for small devices with max width 480px */
