.mymain{
    background-image:
    radial-gradient(42.44% 42.44% at 50% 57.56%, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0.6) 100%), 
    url('/media/industries-img/tall-trees-forest-mountains-covered-with-fog\ 1\ \(1\).png');
    
}
.main-left{
    color: #FFFFFF;
    font-weight: 750;
    font-size:4vw ;
}   

.second-banner{
    background-image:
    linear-gradient(92.78deg, #000000 23.15%, rgba(0, 0, 0, 0.15) 62.14%), 
    url('/media/industries-img/Rectangle\ 1120.png');
}
